package org.max.home;

import org.hibernate.query.Query;
import org.junit.jupiter.api.Assertions;
import org.junit.jupiter.api.Order;
import org.junit.jupiter.api.Test;
import org.junit.jupiter.params.ParameterizedTest;
import org.junit.jupiter.params.provider.CsvSource;

import java.sql.ResultSet;
import java.sql.SQLException;
import java.sql.Statement;

public class ProductsTest extends AbstractTest{

    @Test
    @Order(1)
    void getProducts_whenValid_shouldReturn() throws SQLException {
        //given
        //Таблица наывается products, а не product
        String sql = "SELECT * FROM product WHERE menu_name='GOJIRA ROLL'";
        Statement stmt = getConnection().createStatement();
        int countTableSize = 0;
        //when
        ResultSet rs = stmt.executeQuery(sql);
        while (rs.next()) {
            countTableSize++;
        }
        final Query query = getSession().createSQLQuery("SELECT * FROM products").addEntity(ProductsEntity.class);
        //then
        //почему Вы ожидаете в одном случае 2 записи, а в другом 10 записей? В таблице изначально всего 1 запись
        Assertions.assertEquals(2, countTableSize);
        Assertions.assertEquals(10, query.list().size());


    }
    @Order(2)
    @ParameterizedTest
    @CsvSource({"GOJIRA ROLL, 300", "VIVA LAS VEGAS ROLL, 450", "FUTOMAKI, 700", "TOOTSY MAKI, 133"})
    void ProductsById_whenValid_shouldReturn(String name, int price) throws SQLException {
        //given
        //Таблица наывается products, а не product
        String sql = "SELECT * FROM product WHERE menu_name='" + name + "'"; ;
        Statement stmt  = getConnection().createStatement();
        String nameString = "";

        //when
        ResultSet rs = stmt.executeQuery(sql);
        while (rs.next()) {
            //у колонки price индекс 3
            nameString = rs.getString(4);

        }
        //then
        Assertions.assertEquals(price, nameString);

    }


}
